
.wrapper {
  // margin: 0 auto;
  // max-width: 800px;

  .card {
    // margin-bottom: 20px !important;
  }
}

.hero {
  max-height: 200px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  grid-gap: 20px;
}