.hero {
  height: 60vh;
  background-image: url('../images/thing1and2.jpg');
  background-position-y: -100px;
  background-size: 1149px 761px;
  display: flex;
  align-items: center;
  justify-content: center;

  .title {
    margin: 0 auto;
    font-size: 3.5rem;
    line-height: 100px;
    height: 100px;
    width: 540px;
    // background-color: #9e28f3;
    background-color: #FEC43F;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    color: #EEEDEE;
    letter-spacing: 1px;
    text-align: center;
    transform: rotate(-12deg);
    border-radius: 3px;
    @media (max-width: 550px) {
      height: 50px;
      width: 270px;
    }

    h1 {
      font-size: 3.5rem;
      line-height: 100px;
      height: 100px;
      width: 540px;
      @media (max-width: 550px) {
        font-size: 1.7rem;
        line-height: 50px;
        height: 50px;
        width: 270px;
      }
    }
  }
}