.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-gap: 10px;
  padding: 0 30px 30px;
  // Prevent the browser scrollbar using space
  overflow-y: hidden;
}

.random-button {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;

  button {
    color: #0c1219;
    text-transform: uppercase;
    text-decoration: none;
    background: #f8f0f3;
    padding: 10px;
    border: 4px solid #d09dd6;
    display: inline-block;
    transition: all 0.4s ease 0s;
    outline: none;

    &:hover {
      color: #ffffff;
      background: #d09dd6;
      border-color: #fec053;
      transition: all 0.4s ease 0s;
    }
  }
}
