.card-container {
  margin: 3px auto;
  box-shadow: 0 0 0 1px #d4d4d5, 0 2px 4px 0 rgba(34, 36, 38, 0.12),
    0 2px 10px 0 rgba(34, 36, 38, 0.15);
  border-radius: 0.3rem;
  width: 290px;

  .card-content {
    padding: 15px;
  }

  .card-header {
    display: grid;
    grid-template-columns: 1fr 1fr;

    > p {
      justify-self: end;
    }
  }

  .card-entry {
    margin-bottom: 5px;
  }
}

.wes {
  font-weight: bold;
  color: #eccf18;
}

.scott {
  font-weight: bold;
  color: #663399;
}

.other {
  font-weight: bold;
  color: #f63925;
}

.card-container:hover {
box-shadow: 5px 5px 2px red, 8px 8px 2px yellow, 10px 10px 2px #b725f6;
background-color: rgb(135, 210, 172);
border: 2px solid black;
}