.card {
  margin: 0 auto;
  box-shadow: 0 0 0 1px #d4d4d5, 0 2px 4px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,.15);
  border-radius: .29rem;
  width: 290px;

  .card-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    h4 {

    }
    p {
      justify-self: end;  
    }
  }

  .card-content {
    padding: 15px;
  }
}