.hero {
  height: 60vh;
  background-image: url('../../images/thing1and2.jpg');
  background-position-y: -100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;

  .title-wrapper {
    margin: 0 auto;
    font-size: 3.5rem;
    line-height: 100px;
    height: 145px;
    width: 540px;
    background-color: #fec43f;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    letter-spacing: 1px;
    text-align: center;
    transform: rotate(-12deg);
    border-radius: 3px;
    @media (max-width: 550px) {
      height: 75px;
      width: 270px;
    }

    .main-title {
      font-size: 3.5rem;
      color: #f1efed;
      line-height: 100px;
      height: 100px;
      width: 540px;
      @media (max-width: 550px) {
        font-size: 1.7rem;
        line-height: 50px;
        height: 50px;
        width: 270px;
      }

      .subtitle {
        color: #f47b8f;
        font-size: 20px;
        @media (max-width: 550px) {
          font-size: 12px;
        }
        a {
          font-size: 27px;
          color: #ab71b2;
          text-decoration: underline;
          &:hover {
            color: #15a9da;
          }
          @media (max-width: 550px) {
            font-size: 18px;
          }
        }
      }
    }
  }
}
